select#client-classroom {
    width: 15%;
}
select#client-student {
    width:15%;
}
.price {
    bottom: 70px;
    position: relative;
    padding-left: 0px;
    padding-right: 100px;
    right: 25px;
}

.button_client {
    position: relative;
    top: 160px;
    right: 70px;
}
.admin {
    width: 100%;
    position: relative;
    padding: 70px 15px 15px 20px;
}
.watch_post{
    border: 1px solid black;
    background-color: #F5F5F5;
    height: auto;
}
.droplist {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
/*.grid_table временный нужно будет потом убрать так как gridview имеет свой стиль и цвет*/
.left_block,.grid_table{
    border: 1px solid black;
    background-color: #F5F5F5;
    height: auto;
    
}
.title_left_block p {
    margin-top: 50px;
}
.icon_add {
    width: 10%;
    margin-bottom: 20px;
    margin-left: 20%;
    bottom: 50px;
    position: relative;
}
.add_user {
    width: 40%;
    float: right;
    cursor: pointer;
}
.add_user_button_window{
    width: 80px;
    float: left;
}
.add_user_button{
    width:120px;
}
.add_user img {
    width: 100%;
    height: auto;
   
}
.add_group {
    width: 40%;
    cursor: pointer;
}
.add_group img {
    width: 100%;
    height: auto;
}
.group_user_button_window{
    width: 80px;
    float: left;
}
.name_student {
    position: relative;
    margin-top: 70px;
}
.pruxid_student {
    position: absolute;
}
.right_size {
    position: relative;
    height: 65px;
    bottom: 65px;
}

.window_add_user {
    float: right;
    position: relative;
    bottom: 200px;
    border: 1px solid black;
    padding: 10px;
    width: 30%;
    display:none;
}
.window_add_group{
  float: right;
    position: relative;
    bottom: 200px;
    border: 1px solid black;
    padding: 10px;
    width: 30%;
    display:none;  
}

.tab_client {
    width: 100%;
    position: relative;
    bottom: 40px;
}
.tab_client table {
    width: 70%;
}
.form-group.field-client-price_first {
    margin-right: 40px;
}

.form-group.field-client-price {
    margin-right: 40px;
}

input.form-control.name_student {
    width: 80%;
    bottom: 25px;
}

select.form-control.select_price.select_add {
    width: 140px;
}
input.form-control.pruxid.pruxid_add {
    width: 140px;
}
