select#client-classroom {
    width: 15%;
}
select#client-student {
    width:15%;
}
.price {
    bottom: 70px;
    position: relative;
    padding-left: 0px;
    padding-right: 100px;
    right: 25px;
}

.button_client {
    position: relative;
    top: 160px;
    right: 70px;
}
.admin {
    width: 100%;
    position: relative;
    padding: 70px 15px 15px 20px;
}
.watch_post{
    border: 1px solid black;
    background-color: #F5F5F5;
    height: auto;
}
.droplist {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
/*.grid_table временный нужно будет потом убрать так как gridview имеет свой стиль и цвет*/
.left_block,.grid_table{
    border: 1px solid black;
    background-color: #F5F5F5;
    height: auto;
    
}
.title_left_block p {
    margin-top: 50px;
}
.icon_add {
    width: 70%;
    margin-bottom: 20px;
}
.add_user {
    width: 30%;
    float: right;
    cursor: pointer;
}
.add_user img {
    width: 100%;
    height: auto;
   
}
.add_group {
    width: 30%;
    cursor: pointer;
}
.add_group img {
    width: 100%;
    height: auto;
}
.name_student {
    position: relative;
    margin-top: 70px;
}
.pruxid_student {
    position: absolute;
}
.right_size {
    position: relative;
    height: 65px;
    bottom: 65px;
}
button.add_user_button.btn.btn-primary.save_button {
    position: absolute;
    bottom: 5px;
}
.window_add_user {
    float: right;
    position: relative;
    bottom: 200px;
    border: 1px solid black;
    padding: 10px;
    width: 30%;
    display:none;
}
button.add_user.btn.btn-primary.save_button {
    float: left;
    width: 130px;
}